.admenu {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    width: 225px;
}

.admenuhead {
    height: 40px;
    background: url(../img/styles/default/backgrounds/header.jpg) left top repeat-x;
    z-index: 99999999999;
    position: fixed;
    top: 0;
    margin: 0;
    width: 225px;
}
.navlibg {

    background: linear-gradient(to right,#da8cff,#9a55ff);
    background-image: linear-gradient(to right, rgb(218, 140, 255), rgb(154, 85, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.headAd {
    background: linear-gradient(to right,#da8cff,#9a55ff);
    background-image: linear-gradient(to right, rgb(218, 140, 255), rgb(154, 85, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
}


.scalemenu {
    margin: -4px 0 0 -16px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
